<nav class="navbar navbar-static-top">
    <div class="container-fluid">
        <div class="navbar-header col-sm-1">
            <fullstack-logo></fullstack-logo>
        </div>
        <div class='nav-container'>
            <ul class="nav navbar-nav">
                <li class='item{{$index}}' ng-repeat="item in items" ng-show="!item.auth || isLoggedIn()">
                    <a class="col-sm-2" ui-sref-active="active" ui-sref="{{ item.state }}">{{ item.label }}</a>
                </li>
                <hr />
            </ul>
        </div>
        <button ng-show="!user" id='login-button' class="btn btn-primary" ng-click="gitLogin()">
Login with <i class="fa fa-github github-login"></i></button>
        <div ng-show="user" class="welcome">
            <span>Welcome {{ user.github.displayName.split(' ')[0] }}.</span>
            <a ng-click="logout()">Logout</a>
        </div>
    </div>
</nav>

