<nav class="navbar navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <fullstack-logo></fullstack-logo>
        </div>
        <ul class="nav navbar-nav">
            <li ng-repeat="item in items" ng-show="!item.auth || isLoggedIn()">
                <a ui-sref-active="active" ui-sref="{{ item.state }}">{{ item.label }}</a>
            </li>
        </ul>
        <button ng-show="!user" id='login-button' class="btn btn-primary" ng-click="gitLogin()">
Login with <i class="fa fa-github github-login"></i></button>
        <div ng-show="user" class="welcome">
            <span>Welcome, {{ user.github.displayName.split(' ')[0] }}.</span>
            <a ng-click="logout()">Logout</a>
        </div>
    </div>
</nav>