<div class="container">
	<h1>New Pipeline</h1>
	<input ng-model='pipelineName' placeholder='Name'></input>
	<md-button class='md-primary md-raised' ng-click='createPipeline()'>Create</md-button> <span id='success-msg' ng-if='created'>Successfully created {{ pipelineName }}</span>
	<div class='pipeline-body' ng-repeat="pipeline in models.list">
	<h2 id='pipeline-name'>
		{{ pipeline.name }}	
		<md-button class='md-raised' ng-click='deletePipeline(pipeline)'>Delete</md-button>
		<md-button class='md-raised md-primary' ng-click='updatePipelines()'>Save</md-button>
	</h2>
		<ul id='user-pipeline'  dnd-list='pipeline.pipeline'>
			<li id='repo-box' ng-repeat="repo in pipeline.pipeline" dnd-draggable='repo' dnd-moved='pipeline.pipeline.splice($index, 1); reorder()' dnd-effect-allowed='move' dnd-selected='models.selected = repo' ng-class="{'selected': models.selected === repo}">
				<ul id='pipeline-repo'>
					<li><h3>{{ repo.name }}<i class='fa fa-times' ng-click='deleteRepo(pipeline, repo.name)'></i></h3></li>
					<li>{{ repo.description }}</li>
					<li><a href="{{ repo.gitUrl }}">{{ repo.gitUrl }}</a></li>
				</ul>
			</li>
		</ul>
	</div>
	<pre>{{ models | json }}</pre>
</div>