<div class="container">
	<h1>New Pipeline</h1>
	<input ng-model='pipelineName' placeholder='Name'></input>
	<button type='button' class='btn btn-primary btn-sm' ng-click='createPipeline()'>Create</button> <span id='success-msg' ng-if='created'>Successfully created {{ pipelineName }}</span>

	<div ng-repeat="pipeline in pipelines">
		<h2>{{ pipeline.name }}</h2>
		<ul ng-repeat="repo in pipeline.pipeline">
			<li><h3>{{ repo.name }}</h3></li>
			<li>{{ repo.description }}</li>
			<li>{{ repo.gitUrl }}</li>
		</ul>
	</div>

</div>