<navbar></navbar>
<div class="container">
	<div class='container col-md-8 col-md-9 col-md-12'>
		<div layout='row'>
			<md-input-container id='new-name-input'>
			<label>Create New Pipeline</label>
			<input ng-enter='createPipeline()'ng-model='pipelineName'></input>
		</md-input-container>

		<md-button class='md-primary create-btn' ng-click='createPipeline()'>Create</md-button>
	</div>
</div>

<div class='pipeline-body' ng-repeat="pipeline in models.list">
	<h2 id='pipeline-name'>
		{{ pipeline.name }}
		<span class="clipboard-container">
			<input type="text" onClick='this.select()' value="http://{{loc}}:8080/api/run{{pipeline.pipelineId}}" readonly='readonly'>
			<span class="input-group-button">
				<button id='clippy' aria-label='Copy to clipboard' data-copied-hint='Copied!' clip-copy='getUrl(pipeline.pipelineId)'><i class='fa fa-clipboard'></i></button>
			</span>
		</span>
		<span id='manage-btns'>
			<md-button class='md-raised' ng-click='deletePipeline(pipeline)'>Delete</md-button>
			<md-button class='md-raised' ng-disabled="saved == 'untouched'" ng-class="{'md-primary': saved === 'unsaved'}" ng-click='updatePipelines()'>Save</md-button>
		</span>
	</h2>
	<section layout="row" layout-sm="column" layout-align="center center">
		<md-input-container id='new-name-input'>
		<label>Search Github</label>
		<input ng-enter='search(searchInput)' ng-model='searchInput'></input>
	</md-input-container>
	<md-input-container id='new-name-input'>
	<label>
		Add by URL
		<span id='success-msg' ng-if='urlState === "valid"'>
			Added Successfully <i class='fa fa-check-circle-o'></i>
		</span>
		<span id='failure-msg' ng-if='urlState === "invalid"'>
			No Dockerfile found <i class='fa fa-times'></i>
		</span>
		<md-progress-circular id='progress-circle' ng-if='urlState === "pending"' class="md-hue-2" md-mode="indeterminate"></md-progress-circular>
	</label>
	<input type='url' name='url' ng-enter='searchUrl &&getRepoByUrl(searchUrl, pipeline.pipelineId)' ng-model='searchUrl'></input>
</md-input-container>
</section>
<ul id='user-pipeline'  dnd-list='pipeline.pipeline'>
	<li id='repo-box' ng-repeat="repo in pipeline.pipeline" dnd-draggable='repo' dnd-moved='pipeline.pipeline.splice($index, 1); reorder()' dnd-effect-allowed='move' dnd-selected='models.selected = repo' ng-class="{'selected': models.selected === repo}">
		<ul id='pipeline-repo'>
			<li><h3>{{ repo.name }}<i class='fa fa-times' ng-click="showConfirm($event, repo, pipeline, $index)" ></i>
			</h3></li>
			<li>{{ repo.description }}</li>
			<li><a href="{{ repo.gitUrl }}" target="_blank">{{ repo.gitUrl }}</a></li>
		</ul>
	</li>
</ul>

</div>
</div>
