$materialBlue: #3F51B5;
$darkBlue: #3E3F4B;
$blue: #29A2AE;
$backgroundWhite: #fcfcfc;
$offWhite: #c2dfe3;
$background: #29A2AE;
$grey: #D6D6D6;
$navbar: #01707C;
$backgroundGrey: #f5f5f5;

 @mixin breakpoint($point) {
   @if $point == lg {
     @media (min-width: 1200px) { @content ; }
  }
   @else if $point == md {
     @media (min-width: 780px) { @content ; }
  }
    @else if $point == sm {
     @media (min-width: 768px) { @content ; }
  }
   @else if $point == xs {
     @media (min-width: 480px)  { @content ; }
  }
 
}