fullstack-logo {
  display: block;
  margin: -12px 0 auto; 
}

#logo{
	width:100%; 
}

#navbar-logo {
	img {
		width: 200%;
	}
}

.icon-bar {
	background-color: white;
}

.navbar-toggle {
	&:hover {
		background-color: #165157;
	}	
	&:active {
		background-color: #165157;
	}
}