.navbar {

  display: block;
  background: white;
  padding: none;
  margin: none;
  margin-bottom: 0px;
  border-bottom: 1px solid $darkBlue;
  fullstack-logo {
    padding-top: 10px;
    margin-right: 20px;
    width: 30px;
  }

  a {
    color: $darkBlue;
    &:hover {
      color: $darkBlue;
    }
  }

  .nav > li > a {
    cursor: pointer;
    &.active {
      color: darken($darkBlue, 10%);
    }
    &:hover {
      transition: color 0.2s;
    }
    &:focus {
      color: darken($darkBlue, 20%);
      background: transparent;
    }
  }

  #login-button {
    float: right;
    margin-top: 8px;
    width: 110px;
    padding-right: 50px;
    background: transparent;
    &:hover {
      color: white;
      background-color: $blue;

    }
    border-color: $blue;
    color: $darkBlue;
  }

  .welcome {
    float: right;
    margin-top: 12px;
    span {
      color: $darkBlue;
    }
    a {
      color: darken($darkBlue, 10%);
      cursor: pointer;
    }
  }

}

.github-login {
  font-size: 1.5em;
  position: absolute;
  top: 14px;
  right: 11.2%;
}