.navbar {
  margin-top: -50px;
  color: white;
  position: fixed;
  width: 100%;
  display: block;
  background: $navbar;
  padding: none;
  margin: none;
  margin-bottom: 0px;
  border: none;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
  fullstack-logo {
    padding-top: 10px;
    margin-right: 20px;
    width: 30px;
  }

  a {
    color: white;
    &:hover {
      color: white;
    }
  }
  .nav > li {
    display: inline;
    text-align: center;
    padding-top: 3%;
  }
  .nav > li > a {
    display: inline-block;
    width: 100%;
    padding: 0.75rem 15px;
    margin: 0;
    text-decoration: none;
    cursor: pointer;
    &:hover {
      color: white;
      transition: color 0.2s;
      background-color: transparent;
    }
    &.active {
      display: true;
      color: $blue;

    }
    &:focus {
      background: transparent;

    }
  }

  #login-button {
    float: right;
    margin-top: 8px;
    width: 110px;
    padding-right: 50px;
    background: transparent;
    &:hover {
      color: white;
      background-color: $blue;
    }
    border-color: $blue;
    color: white;
  }

  .welcome {
    float: right;
    margin-top: 12px;
    span {
    }
    a {
      cursor: pointer;
    }
  }
  .nav-container {
    width: 100%;
  }
}

.github-login {
  font-size: 1.5em;
  position: absolute;
  top: 14px;
  right: 11.2%;
}

hr {
  border: none;
  height: .3rem;
  width: 20%;
  margin: 0 10px;
  background: $blue;
  transition: 0.3s ease-in-out;
}
.item0 ~ hr, .item1 ~ hr, .item2 ~ hr {
  display: none;
}
.item0:hover ~ hr {
  display: block;
}

// .item0.selected ~ hr {
//   display: block;
// }

.item1:hover ~ hr {
  margin-left: 36%;
  display: block;
}

// .item1.selected ~ hr {
//   display: block;
//   margin-left: 36%;
// }

.item2:hover ~ hr {
  margin-left: 70%;
  display: block;
}

// .item2.selected ~ hr {
//   display: block;
//   margin-left: 70%;
// }
