<section id="search">
	<form class='form' ng-submit='search()'></form>
		<input type="text" ng-model='input' ng-enter='search()' placeholder="Search for a repository">
		<button type='button' ng-click='search()' class='btn btn-primary'>Search Github</button>
	</form>
</section>

<div id='search-results'>
	<ul id='repo-list' ng-repeat='result in results'>
		<li id='repo-item'>
			<h3 class="repo-list-name">
				<a href='{{ result.html_url }}' target="_blank">{{ result.full_name }}</a>
				<span id='success-msg' ng-if='pipelineSelect'>
					Added successfully <i class='fa fa-check-circle-o'></i>
				</span>
				<md-select id='plus-menu' ng-model="pipelineSelect" placeholder="Add to Pipeline">

				<md-option ng-repeat="pipeline in userPipelines" value="{{pipeline.name}}" ng-click="addToPipeline(pipeline._id, result)">
				{{pipeline.name}}
				</md-option>

			</md-select>
		</h3>

		<p class="repo-list-description">
			{{ result.description }}
		</p>

	</li>
</ul>
</div>