	<navbar></navbar>
<div ng-if='chosenOption'>
	<div class="container">
		<div class='container col-md-8 col-md-9 col-md-12'>
			<div layout='row'>
				<md-input-container id='new-name-input'>
				<label>Search Github</label>
				<input ng-enter='search()' ng-model='input.input'></input>
			</md-input-container>
			<md-button class='md-primary create-btn' ng-click='createPipeline()'>Search</md-button>
		</div>
	</div>

	<div id='search-results'>
		<ul id='repo-list' ng-repeat='result in results'>
			<li id='repo-item'>
				<h3 class="repo-list-name">
					<a href='{{ result.html_url }}' target="_blank">{{ result.full_name }}</a>
					<span id='success-msg' ng-if='result.full_name === selectedPipeline && validRepo === "valid"'>
						Added successfully <i class='fa fa-check-circle-o'></i>
					</span>
					<span id='failure-msg' ng-if='result.full_name === selectedPipeline && validRepo === "invalid"'>
						No Dockerfile found <i class='fa fa-times'></i>
					</span>
					<md-progress-circular id='progress-circle' ng-if='result.full_name === selectedPipeline && !validRepo' class="md-hue-2" md-mode="indeterminate"></md-progress-circular>


					<md-select id='plus-menu' ng-model="pipelineSelect" placeholder="Add to Pipeline">

					<md-option ng-repeat="pipeline in userPipelines" value="{{pipeline.name}}" ng-click="addToPipeline(pipeline._id, result)">
					{{pipeline.name}}
				</md-option>

			</md-select>
		</h3>

		<p class="repo-list-description">
			{{ result.description }}
		</p>

	</li>
</ul>
</div>
</div>
</div>
<div ng-if='!chosenOption' class='cntr' id='search-full'>
	<div class="cntr-innr" >
		<label for="animated-search" class="animated-search" ng-class="{'active': focused}">
		<input id='animated-search' ng-focus='focused=true' ng-blur='focused=false||input.length' ng-enter='search(); choose("search")' type='text' ng-model='input.input'></input>
		</label>
		<p>Search Github</p>
		<md-button class='md-primary md-hue-3' ng-click='choose("view")'>View Repositories</md-button>
	</div>
</div>