#about {

  // background-color: #29a2ae;

  .title {
    margin-bottom: 40px;
  }

  .row {
    text-align: center;
  }

  img {
    border-radius: 50%;
  }

  .profiles {
    text-align: center;
  }

  // img:hover {
  //   width: 230px;
  //   height: 230px;
  //   transition: width 5s;
  //   transition: height 5s;
  //   // -webkit-transition: all 1s ease;

  // }

  img:hover {
    opacity: .3;
    -webkit-filter: blur(1px);
  }

  i {
    margin-right: 5px;
    &:hover {
      color: $blue;
      cursor: pointer;
    }
  }


}