<div id='home-div'>
	<section id="home">
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
				<h1 id='title-home'>ahab</h1>
			</div>
		</div>
		<div class="row text-center">
		<div class="col-md-4 col-md-offset-4">
			<fullstack-logo></fullstack-logo>
			</div>
		</div>
		<div class="row">
			<div class="col-md-10 col-md-offset-1 col-sm-12  col-xs-12  col-lg-10 col-lg-offset-1">
				<h2 id='title-home'>Composable Docker containers for your Git workflow.</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 col-md-offset-4 col-sm-10 col-sm-offset-1 col-xs-12">
				<button id='login-button-home' ng-if='!user' ng-click='gitLogin()' class='btn btn-primary'>Connect with <i class='fa fa-github fa-3x'></i></button>
				<button id='login-button-home' ng-if='user' ui-sref='pipelines' class='btn btn-primary'>Go to your Pipelines <i class='fa fa-chevron-right'></i></button>
			</div>
		</div>
	</section>
</div>

<div class='row' id='home-content-info'>
	<div class="col-md-4 col-xs-12 text-center">
		<img src="http://flaticons.net/gd/makefg.php?i=icons/Network%20and%20Security/Cube-Shield.png&r=62&g=63&b=75" alt="">
		<p>Immutable infrastructure. Your custom code runs through a pipeline of docker containers, delivering consistent and reliable results.</p>
	</div>
	<div class="col-md-4 col-xs-12 text-center">
		<img src="http://flaticons.net/gd/makefg.php?i=icons/Miscellaneous/Anchor.png&r=62&g=63&b=75" alt="">
		<p>Empower your analytics by composing functionality from github repositories, or our community ranked pre-built functions.</p>
	</div>
	<div class="col-md-4 col-xs-12 text-center">
		<img src="http://flaticons.net/gd/makefg.php?i=icons/Miscellaneous/Clock-01.png&r=62&g=63&b=75" alt="">
		<p>Our language-agnostic workflow allows you to maximise performance, available on demand with our RESTful API endpoints.</p>
	</div>
</div>