@import 'variables/main';
* {
	box-sizing: border-box;
}

@mixin clearfix {
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}
html, body {
  height: 100%;
}

#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
  padding-bottom: 100px;
}

/* Set the fixed height of the footer here */
#footer {
  height: 50px;
  background-color: $darkBlue;
  line-height: 50px;
  a {
  	color: white;
  	font-family: 'Proxima Nova', sans-serif;
  	font-size: 1.2em;
  }
}

body {
	padding-top: 50px;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
	font-family: sans-serif;
	color: $darkBlue;
	background-color: $backgroundWhite;
	-webkit-font-smoothing: antialiased;
}

@import 'directives/main';
@import 'home/main';
@import 'about/main';
@import 'tutorial/main';
@import 'login/main';
@import 'search/main';
@import 'pipelines/main';