@import 'variables/main';
* {
	box-sizing: border-box;
}

@mixin clearfix {
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}


body {
	padding-top: 50px;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
	font-family: sans-serif;
	color: $darkBlue;
	background-color: $backgroundWhite;
	-webkit-font-smoothing: antialiased;
}
@import 'directives/main';
@import 'home/main';
@import 'about/main';
@import 'tutorial/main';
@import 'login/main';
@import 'search/main';
@import 'pipelines/main';