@import 'variables/main';
* {
	box-sizing: border-box;
}

@mixin clearfix {
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}
html, body {
  height: 100%;
  margin: 0;
  padding: 0;

}

#wrap {
  min-height: 100%;
  height: auto;
  margin: 0 auto -60px;
  padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
#footer {
  height: 60px;
  background-color: $darkBlue;
  line-height: 40px;
  a {
  	color: white;
  	font-family: 'Proxima Nova', sans-serif;
  	font-size: 1.2em;
  }
  p {
    margin-top: 10px;
  }
}

body {
	padding-top: 50px;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
	font-family: 'Helvetica Neue', 'HelveticaNeue-Thin', 'Proxima Nova', sans-serif;
  color: $darkBlue;
  background-color: $backgroundGrey;
  -webkit-font-smoothing: antialiased;
  ::selection {
    color: cyan;
  }
}
@import 'animations/main';
@import 'directives/main';
@import 'home/main';
@import 'about/main';
@import 'tutorial/main';
@import 'login/main';
@import 'search/main';
@import 'pipelines/main';
@import 'help/main';
